<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="distance">Distance to Span</label>
            <input type="number" class="form-control" id="distance" [(ngModel)]="distance">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="offset">Offset</label>
            <input type="number" class="form-control" id="offset" [(ngModel)]="offset">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="sag">Sag</label>
            <input type="number" class="form-control" id="sag" [(ngModel)]="sag">
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-success" (click)="compute()">Compute</button>
    </div>
  </div>
  <ng-container *ngIf="bridge">
    <div class="row mt-4">
      <div class="col">
        <div>Left: {{bridge.left.x}}, {{bridge.left.y}}</div>
        <div>Vertex: {{bridge.vertex.x}}, {{bridge.vertex.y}}</div>
        <div>Right: {{bridge.right.x}}, {{bridge.right.y}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row" *ngFor="let row of bridge.grid">
            <div class="block" *ngFor="let col of row" [ngClass]="col">

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>